<h1>Form Builder, Form Group, Form Control, Validators and ngSubmit</h1>

<form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="field" [class.invalid]="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.touched || registrationForm.get('username')?.dirty)">
    <label class="label">Username</label>
    <input type="text" class="input" formControlName="username" />
    <div *ngIf="registrationForm.get('username')?.hasError('required') && (formSubmittedFlag || registrationForm.get('username')?.touched || registrationForm.get('username')?.dirty)">
      Required field
    </div>
  </div>

  <div class="field" [class.invalid]="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)">
    <label class="label">Email</label>
    <input type="text" class="input" formControlName="email" />
    <div *ngIf="registrationForm.get('email')?.hasError('required') && (formSubmittedFlag || registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)">
      Required field
    </div>
    <div *ngIf="registrationForm.get('email')?.hasError('email') && (formSubmittedFlag || registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)">
      Please enter a valid email address
    </div>
  </div>

  <div class="field" [class.invalid]="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty)">
    <label class="label">Password</label>
    <input type="text" class="input" formControlName="password" />
    <div *ngIf="registrationForm.get('password')?.hasError('required') && (formSubmittedFlag || registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty)">
      Required field
    </div>
  </div>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>
